/* Selectors with specificity */

/* Como no tengo ninguna especificacion aqui ira por todos los elementos div */
div {
    color: blue;
}

/*Se volvera rojo cualquier cosa cuando haya una accion */
.highlight {
    color: red;
}


.copy-cat {
    color: rgb(107, 55, 55);
}

/* El "#" se refiere a id */
#special{
    color: green;
}

body {
    background-color: #f0f0f0;
}

.box {
    background-color: #ffffff;
    border: 2px solid #000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
}

.content{
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 5px solid #333;
}

.inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

.fixed-box {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    padding: 10px;
}

.rotate-box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    transform: rotate(45deg);
}

a:hover {
    color: rgb(255, 60, 0);
    text-decoration: underline;
}

/*antes de cada elemento clase claja aparece un New!*/
.box::before{
    content: "New!";
    color: red;
    font-weight: bold;
}

.fade-in{
    animation: fade 2s ease-in-out;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}